.App {
  text-align: center;
}

.App-header {
  background-color: #191B27;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* SIDEBAR */

.sidebar{
  padding-top: 2%;
  width: 20%;
  background: #2C2F42;
}

.pdt-name{
  font-size: calc(20px + 2vmin);
  padding: 1em;
}

.nav a{
  color: white;
}
.nav a:hover, a:active{
  color: #fff !important; 
  text-decoration: underline;
  font-weight: 500;
}

/* MAIN BODY */
.main-body{
  padding: 5%;
}
