.App-header {
  background-color: #191B27;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  font-size: calc(5px + 2vmin);
  color: white;
}

/* SIDEBAR */

.sidebar{
  padding-top: 2%;
  width: 100%;
  background: #2C2F42;
  text-align: center;
}

.pdt-name{
  font-size: calc(20px + 2vmin);
  padding: 1em;
}

.nav a{
  color: white;
}
.nav a:hover, a:active{
  color: #fff !important; 
  text-decoration: underline;
  font-weight: 500;
}

/* MAIN BODY */
.main-body{
  padding: 5%;
}

.investor-page-layout{
  display: grid;
  grid-template-rows: 1fr 3fr;
  margin: 10% 17%;
}

.user-input1{
  margin: 5% 3%;
}
.user-input2{
  margin: -4% 3%;
}

.user-input3{
  margin: -28% 3% 0 3%;

}

.form-label{
  float: left;
  text-align: left;
  font-weight: 500;
}

.form-check-label {
  float: left;
  text-align: left;
  font-weight: 390;
}
